///////////
// footer
footer.footer {
    background-color: #f5f2ee;
    padding: 110px 0 0 0;

    @include  breakpoint (mobile) {
        padding: 0;
    }
}

.footer-content {
    @include flexCHV;
  
    @include  breakpoint (mobile) {
        flex-direction: column;
    }
}

.footer-content__box {
    flex: 1 1 33.333%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: stretch;
    border-right: 1px solid $input-border-color;

    @include  breakpoint (mobile) {
        border-right: 0;
        padding: 50px 0 0 0;
    }

    &:last-child {
        border-right: 0;
    }

    h3 {
        font-family: 'butlerregular';
        font-weight: bold;
        color: #304061;
        font-size: 28px;
        padding: 0 0 20px 0;
    }

    ul {
        @include flexCHV;
        flex-direction: column;

        li {
            a {
                display: flex;
                text-transform: capitalize;
                color: #304061;
                font-size:  18px;
                font-family: 'Lato', sans-serif;
                padding: 0 0 20px 0;
            }

            .upper-letter {
                text-transform: uppercase;
            }

            h4 {
                color: #304061;
                font-size: 16px;
                font-family: 'Open-Sans', sans-serif;
                padding: 0 0 20px 0;
            }
        }
    }

    // email
    .footer-email-input {
        display: flex;
        background-color: $bg-white;
        align-items: center;
        padding: 25px 30px;
        border: 1px solid #d9d9d8;
        color: #3a3633;

        .svg__icon--email {
            width: 20px;
            height: 20px;
            color: #918e8a;
        }

        p {
            padding: 5px 10px 0 10px;
        }

        .svg__icon--ar2 {
            width: 20px;
            height: 20px;
            color: #d9c7a2;
        }
    }
}

.footer-content_copyright {
    @include flexCHV;
    padding: 45px 0 65px 0;
    p {
        color: #304061;
        strong {
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}