// variables
$bg-white: #fff;
$border-blue-b: #2f4061;
$bg-grey: #f5f2ee;
$pagination-color: #a0765b;
$blue-1: #304061;
$input-border-color: #ddccb8;
$input-bg: #f5f2ee;
$grey-color: #d2c1b6;
$svg-color: #a9836b;